html {
  height: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
  font-size: 16px;
  text-align: center;
  font-family: sans-serif;
  padding: 2vw;
}

* {
  box-sizing: border-box;
}